  <div class="wrapper">	
  <!-- Showcase
	================ -->
    <div id="wrap">
	  <div class="container">
		<div class="row">
		  <div class="col-md-9 col-sm-12">
		    <h1 class="animated slideInDown">"Антигород"</h1>
		    <div class="list">
			  <ul>
			    <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa-building-o"></i> <span>Играй в своём городе или области</span></span></li>
			    <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa-location-arrow"></i> <span>Ищи клады по gps координатам</span></span></li>
			    <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa-users"></i> <span>Общайся с единомышленниками</span></span></li>
			    <li class="animated slideInLeft first"><span class="li-bg"><i class="fa fa-money"></i> <span>Получай денежные бонусы за найденные клады</span></span></li>
			  </ul>
			</div>
		  </div>
		  <div class="col-md-3 hidden-sm hidden-xs">
		    <div class="showcase">
		    	
			  <div class="kotel animated fadeInDown"></div>
			    <!--
			  <div class="iPad animated fadeInLeft"></div>
			  <div class="iPhone animated fadeInRight"></div>
			 	-->
			</div>
		  </div>
		</div>
	  </div>
    </div>
	<div class="container">
	  <div class="row">
	    <!-- Welcome message
			================= -->
	    <div class="col-md-8">
	    <div class="block-header">
		  <h2>
		    <span class="title">Добро пожаловать</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
		  </h2>
		</div>
		  <img src="/images/gorod.jpg" class="img-about img-responsive" alt="About">
		  <p>
		    Рады приветствовать Вас на сайте теплоснабжающей компании ООО "Нижновтеплоэнерго. 
			<br /><br />
		
Основной сферой деятельности общества нашей организации являются производство и передача тепловой энергии. <br /><br />
Потребителями тепловой энергии от источников теплоснабжения ООО «Нижновтеплоэнерго» являются более 560 жилых, социальных, административных объектов, а также объектов малого и среднего бизнеса, расположенных на территории Нижегородского района города Нижнего Новгорода.
 
		  </p>
		  <div class="info-board info-board-blue">
			<h4>Важная информация</h4>
			<p>На нашем сайте вы можете ознакомиться с информацией о задолженностях <a href="#">по ссылке</a>. </p>
		  </div>
		</div>
		<!-- Last updated
			================== -->
		<div class="col-md-4">
	    <div class="block-header">
		  <h2>
		    <span class="title">Последние новости</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
		  </h2>
		</div>
		<div class="tab-content">
		  <div class="tab-pane active" id="blog">
		  	<% Article.order("created_at DESC").limit(3).each do |article| %>
				<div class="media">
				  <a class="pull-left" href="<%= "/articles/#{article.id}" %>">
					<%= image_tag article.image.url, :class => "media-object", :alt => article.name %>
				  </a>
				  <div class="media-body">
					<h4 class="media-heading"><%= link_to article.name, article %></h4>
					<%= truncate( raw( sanitize(article.text, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %>
				  </div>
				</div>
			<% end %>
			<%= link_to "Читать все новости...", "/blog.html", :class => "read-more" %>
		  </div>
		</div>
		</div>
	  </div>
	  <!-- Recent Works
		=================== -->
	  <div class="row">
	    <div class="col-md-12 block-header">
		  <h2>
		    <span class="title">Города - участники игры</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
		  </h2>
		</div>
	  </div>
	  <div class="row">

	    <div class="col-md-12 col-sm-6">
		  <a href="#">Нижний Новгород</a>
		</div>
	  </div>
	</div>
  </div>